@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.viñetas-no {
  list-style: none;
}

body {
  background-color: #212121;
}

/*---------------------HEADER----------------*/
header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 7rem;
}
header .caja-logo-ronpe {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
}
header h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  header .caja-logo-ronpe {
    margin-left: 3rem;
  }
  header h1 {
    font-size: 2.5rem;
  }
}
/*-----------------------MAIN----------------------*/
/*------------NAV----------*/
.nav_list {
  font-family: "Roboto Slab", serif;
  display: flexbox;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
  list-style: none;
  background-color: black;
}
.nav_list .nav_links {
  text-decoration: none;
  color: yellow;
}
.nav_list .nav_links:hover {
  font-size: 1.4rem;
  text-decoration: underline;
}

@media (min-width: 850px) {
  .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 50px;
  }
  .nav_list .nav_links {
    font-size: 1.6rem;
  }
  .nav_list .nav_links:hover {
    font-size: 1.7rem;
    text-decoration: underline;
  }
}
/*------ESTRUCTURA SITIO DESKTOP------*/
@media (min-width: 1024px) {
  .estructura-sitio {
    display: grid;
    grid-template-columns: 45% 45%;
  }
}
/*-------SECCION BIOGRAFIA-------*/
.carousel {
  margin-left: 5vw;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 90vw;
  position: relative;
  bottom: 1rem;
}

.texto_Minibiografia {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.1rem;
  position: relative;
  top: -2rem;
  left: -15px;
  width: 90%;
  text-align: center;
  color: whitesmoke;
}

.seguir_leyendo_div {
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}
.seguir_leyendo_div .seguir_leyendo {
  font-family: "Hind Madurai", sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
}
.seguir_leyendo_div .seguir_leyendo:hover {
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .carousel {
    margin-left: 2rem;
    margin-top: 3rem;
    width: 40vw;
  }
  .texto-Minibiografia {
    font-family: "Hind Madurai", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: whitesmoke;
  }
  .seguir-leyendo_div {
    position: relative;
    left: 2rem;
  }
  .seguir-leyendo_div .seguir_leyendo {
    font-size: 1.3rem;
  }
}
/*-----SECCION CANCIONES POPULARES------*/
.canciones_populares_section {
  margin-bottom: 4rem;
}
.canciones_populares_section .canciones_populares_titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  text-align: center;
  color: rgba(245, 221, 10, 0.966);
}
.canciones_populares_section .canciones_populares_container {
  background: rgb(73, 72, 67);
  background: linear-gradient(90deg, rgb(73, 72, 67) 0%, rgb(101, 99, 74) 26%, rgb(185, 184, 173) 80%);
  border: solid black;
  height: 500px;
  width: 90vw;
  gap: 10px;
  margin-left: 4.5vw;
  margin-top: 0.5rem;
}
.canciones_populares_section .canciones_populares_container .canciones_populares_div {
  border-radius: 10px;
  background: black;
  width: 95%;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  margin-left: 2vw;
}
.canciones_populares_section .canciones_populares_container .canciones_populares_div .canciones_populares_nombreTema {
  font-size: 1.2rem;
  font-family: "Hind Madurai", sans-serif;
  color: whitesmoke;
}
.canciones_populares_section .canciones_populares_container .canciones_populares_div .canciones_populares_reproductor {
  width: 90%;
  border-radius: 30px;
}

@media (min-width: 1024px) {
  .canciones_populares_section {
    position: absolute;
    top: 240px;
    left: 42.5vw;
  }
  .canciones_populares_section .canciones_populares_titulo {
    margin-left: 5vw;
    margin-bottom: 1rem;
    color: rgba(245, 221, 10, 0.966);
    font-size: 1.5rem;
  }
  .canciones_populares_section .canciones_populares_container {
    width: 50vw;
    height: 500px;
    overflow: hidden;
  }
}
/*-------SECCION ULTIMO LANZAMIENTO--------*/
.ult_lanzamiento_titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  text-align: center;
  color: rgba(245, 221, 10, 0.966);
  margin-top: 4rem;
}

.ult_lanzamiento_div {
  height: 8rem;
  width: 95vw;
  background: rgb(45, 37, 14);
  background: linear-gradient(90deg, rgb(45, 37, 14) 0%, rgb(148, 141, 55) 40%, rgb(196, 181, 12) 80%);
  border: solid black;
  margin-left: 2.5vw;
}
.ult_lanzamiento_div .img-trastorno {
  margin-top: 0.9rem;
  margin-left: 1rem;
  width: 5.5rem;
  height: 5.5rem;
}
.ult_lanzamiento_div .ult_lanzamiento_body {
  position: relative;
  bottom: 5.5rem;
  left: 7rem;
}
.ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_nombre {
  font-family: "Hind Madurai";
  font-size: 1.5rem;
  margin-left: 0.3rem;
}
.ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_fecha {
  font-family: "Hind Madurai";
  font-size: 1rem;
  margin-top: -0.8rem;
  margin-left: 0.5rem;
}
.ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_reproductor {
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 30px;
  width: 55vw;
}

@media (min-width: 1024px) {
  .ult_lanzamiento_titulo {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 2.8vw;
    color: rgba(245, 221, 10, 0.966);
  }
  .ult_lanzamiento_div {
    height: 160px;
    margin-top: 1rem;
  }
  .ult_lanzamiento_div .img-trastorno {
    margin-top: 0.6rem;
    margin-left: 1rem;
    width: 8.3rem;
    height: 8.3rem;
  }
  .ult_lanzamiento_div .ult_lanzamiento_body {
    margin-left: 6vw;
    margin-top: -2.3rem;
  }
  .ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_nombre {
    font-size: 1.8rem;
    color: black;
  }
  .ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_fecha {
    font-size: 1rem;
    color: black;
    margin-top: -0.5rem;
  }
  .ult_lanzamiento_div .ult_lanzamiento_body .ult_lanzamiento_reproductor {
    margin-top: 0px;
    width: 60%;
  }
}
/*-----------SECCION TARJETAS------------*/
.tarjetas {
  margin-top: 5rem;
}
.tarjetas .tarjetas_titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  text-align: center;
  color: rgba(245, 221, 10, 0.966);
}
.tarjetas .tarjeta1_div {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2rem;
  background-color: rgb(170, 146, 146);
  box-shadow: 4px 3px 2px 2px rgba(245, 221, 10, 0.966);
  position: relative;
  bottom: 1rem;
}
.tarjetas .tarjeta1_div .tarjetas_img {
  width: 100%;
  height: 200px;
  border: 2px solid black;
}
.tarjetas .tarjeta1_div .tarjetas_body {
  padding: 1rem;
}
.tarjetas .tarjeta1_div .tarjetas_body .tarjetas_body_nombreCancion {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.9rem;
  text-align: center;
}
.tarjetas .tarjeta1_div .tarjetas_body .tarjetas_body_fechaDeLanzamiento {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.4rem;
  position: relative;
  left: -30px;
  top: 1rem;
}
.tarjetas .tarjeta1_div .tarjetas_body .tarjetas_reproductor {
  background-color: black;
  width: 100%;
  border-radius: 20px;
  margin-top: 0.5rem;
}
.tarjetas .tarjeta1_div .tarjetas_body .tarjetas_body_letra {
  margin-left: 0vw;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: "Hind Madurai";
}
.tarjetas .tarjeta2_div {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2rem;
  background-color: rgb(170, 146, 146);
  box-shadow: 4px 3px 2px 2px rgba(245, 221, 10, 0.966);
}
.tarjetas .tarjeta2_div .tarjetas_img {
  width: 100%;
  height: 200px;
  border: 2px solid black;
}
.tarjetas .tarjeta2_div .tarjetas_body {
  padding: 1rem;
}
.tarjetas .tarjeta2_div .tarjetas_body .tarjetas_body_nombreCancion {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.9rem;
  text-align: center;
}
.tarjetas .tarjeta2_div .tarjetas_body .tarjetas_body_fechaDeLanzamiento {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.4rem;
  position: relative;
  left: -30px;
  top: 1rem;
}
.tarjetas .tarjeta2_div .tarjetas_body .tarjetas_reproductor {
  background-color: black;
  width: 100%;
  border-radius: 20px;
  margin-top: 0.5rem;
}
.tarjetas .tarjeta2_div .tarjetas_body .tarjetas_body_letra {
  margin-left: 0vw;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: "Hind Madurai";
}

.tarjeta3_div {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3rem;
  background-color: rgb(170, 146, 146);
  box-shadow: 4px 3px 2px 2px rgba(245, 221, 10, 0.966);
}
.tarjeta3_div .tarjetas_img {
  width: 100%;
  height: 200px;
  border: 2px solid black;
  object-fit: cover;
}
.tarjeta3_div .tarjetas_body {
  padding: 1rem;
}
.tarjeta3_div .tarjetas_body .tarjetas_body_nombreCancion {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.9rem;
  text-align: center;
}
.tarjeta3_div .tarjetas_body .tarjetas_body_fechaDeLanzamiento {
  color: beige;
  font-family: "Hind Madurai";
  font-size: 1.4rem;
  position: relative;
  left: -30px;
  top: 1rem;
}
.tarjeta3_div .tarjetas_body .tarjetas_reproductor {
  background-color: black;
  width: 100%;
  border-radius: 20px;
  margin-top: 0.5rem;
}
.tarjeta3_div .tarjetas_body .tarjetas_body_letra {
  margin-left: 0vw;
  margin-top: 1rem;
  font-size: 0.77rem;
  font-family: "Hind Madurai";
}

@media (min-width: 1024px) {
  .tarjetas .tarjetas_titulo {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 3vw;
  }
  .tarjetas .tarjetas_div_estructura {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: -1rem;
  }
  .tarjetas .tarjetas_div_estructura .tarjeta1_div {
    width: 30vw;
    margin-left: 3vw;
    position: relative;
    top: 0rem;
  }
  .tarjetas .tarjetas_div_estructura .tarjeta2_div {
    width: 30vw;
    margin-left: 2vw;
  }
  .tarjetas .tarjetas_div_estructura .tarjeta3_div {
    width: 30vw;
    margin-left: 1vw;
    margin-top: 2rem;
  }
}
/*------------------------FOOTER-------------------------*/
footer {
  background-color: black;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
  margin-top: 7rem;
}

@media (min-width: 1024px) {
  footer {
    background-color: black;
    display: flex;
    justify-content: center;
  }
}
/*----------------REDES SOCIALES FOOTER-------------------*/
.redes_div {
  margin-left: 0vw;
  margin-top: -0.1rem;
}
.redes_div .redes_titulo {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  margin-left: 23px;
  margin-top: 1rem;
  color: rgba(245, 221, 10, 0.966);
}
.redes_div .redes_list {
  font-family: "Hind Madurai";
  font-size: 0.9rem;
  position: relative;
  bottom: 0.5rem;
  left: -7px;
}
.redes_div .redes_list .redes_link_facebook {
  text-decoration: none;
  color: beige;
}
.redes_div .redes_list .redes_link_facebook:hover {
  color: cornflowerblue;
}
.redes_div .redes_list .redes_link_instagram {
  text-decoration: none;
  color: beige;
}
.redes_div .redes_list .redes_link_instagram:hover {
  color: #833AB4;
}
.redes_div .redes_list .redes_link_twitter {
  text-decoration: none;
  color: beige;
}
.redes_div .redes_list .redes_link_twitter:hover {
  color: deepskyblue;
}
.redes_div .redes_list .redes_link_youtube {
  text-decoration: none;
  color: beige;
}
.redes_div .redes_list .redes_link_youtube:hover {
  color: #c4302b;
}
.redes_div .redes_list .bi-facebook {
  margin-left: 0.4rem;
  color: cornflowerblue;
}
.redes_div .redes_list .bi-instagram {
  margin-left: 0.4rem;
  color: #833AB4;
}
.redes_div .redes_list .bi-twitter {
  margin-left: 0.4rem;
  color: deepskyblue;
}
.redes_div .redes_list .bi-youtube {
  margin-left: 0.4rem;
  color: #c4302b;
}

@media (min-width: 1024px) {
  .redes_div {
    margin-left: 0vw;
  }
  .redes_div .redes_titulo {
    font-size: 1.3rem;
    margin-left: 25px;
  }
  .redes_div .redes_list {
    font-size: 1.1rem;
  }
}
/*--------------------------NAV FOOTER----------------------------*/
.nav_footer_div {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1vw;
}
.nav_footer_div .nav_footer_titulo {
  font-size: 1.1rem;
  font-family: "Hind Madurai";
  margin-left: 1.2rem;
  color: rgba(245, 221, 10, 0.966);
}
.nav_footer_div .nav_footer_list {
  position: relative;
  bottom: 0.6rem;
  color: rgba(245, 221, 10, 0.966);
}
.nav_footer_div .nav_footer_list .nav_footer_links {
  text-decoration: none;
  color: beige;
  font-family: "Hind Madurai";
}

@media (min-width: 1024px) {
  .nav_footer_div {
    font-size: 1.1rem;
    margin-left: 7vw;
  }
  .nav_footer_div .nav_footer_titulo {
    font-size: 1.3rem;
    margin-left: 15px;
  }
}
/*---------------------------------EMAIL FOOTER-----------------------------*/
.mail_footer_div {
  font-size: 0.7rem;
  margin-left: 1.3rem;
  font-family: "Hind Madurai";
  margin-bottom: 2rem;
}
.mail_footer_div .mail_footer_texto {
  font-size: 0.9rem;
  font-family: "Hind Madurai";
  position: relative;
  top: 0.5rem;
  text-align: center;
  color: rgba(245, 221, 10, 0.966);
}
.mail_footer_div .mail_footer_formulario {
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .mail_footer_div {
    font-size: 1rem;
    margin-left: 7vw;
    margin-top: 0.7rem;
  }
  .mail_footer_div .mail_footer_texto {
    position: relative;
    top: 0.5rem;
  }
}
/*-----------BIOGRAFIA-----------*/
/*------HEADER------*/
h1 {
  position: relative;
  left: 1rem;
}

@media (min-width: 1024px) {
  h1 {
    position: relative;
    left: 1rem;
  }
}
/*-----SECCION 1 BIOGRAFIA------*/
.bio1_container .bio1_img {
  width: 90vw;
  height: 40vh;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 4.8vw;
}
.bio1_container .bio1_body .bio1_titulo {
  font-family: "Roboto Slab", serif;
  color: rgba(245, 221, 10, 0.966);
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}
.bio1_container .bio1_body .bio_texto {
  font-family: "Hind Madurai";
  margin-left: 1.5rem;
  font-size: 1.3rem;
  width: 85%;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

@media (min-width: 1024px) {
  .bio1_container {
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .bio1_container .bio1_img {
    width: 40vw;
    height: 50vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3vw;
  }
  .bio1_container .bio1_body .bio1_titulo {
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  .bio1_container .bio1_body .bio_texto {
    margin-left: 1.5vw;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1500px) {
  .bio1_container .bio1_img {
    width: 37vw;
    height: 68vh;
  }
  .bio1_container .bio1_body .bio1_titulo {
    margin-left: -22vw;
    font-size: 1.8vw;
  }
  .bio1_container .bio1_body .bio_texto {
    font-size: 1.3vw;
    width: 30vw;
  }
}
/*-----SECCION 2 BIOGRAFIA-------*/
.bio2_container {
  margin-top: 4rem;
}
.bio2_container .bio2_img {
  width: 90vw;
  height: 50vh;
  margin-left: 5vw;
  margin-top: 1rem;
}
.bio2_container .bio2_body .bio2_titulo {
  font-family: "Roboto Slab", serif;
  color: rgba(245, 221, 10, 0.966);
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1.5rem;
}
.bio2_container .bio2_body .bio_texto {
  font-family: "Hind Madurai";
  margin-left: 1.5rem;
  font-size: 1.3rem;
  width: 85%;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}
.bio2_container .bio2_body .bio_texto .link-entrevista {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .bio2_container {
    margin-top: -1rem;
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .bio2_container .bio2_img {
    width: 40vw;
    height: 60vh;
    margin-left: 3vw;
    margin-top: 4rem;
  }
  .bio2_container .bio2_body .bio2_titulo {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .bio2_container .bio2_body .bio_texto {
    margin-left: 1.5vw;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1500px) {
  .bio2_container .bio2_img {
    width: 37vw;
    height: 68vh;
  }
  .bio2_container .bio2_body .bio2_titulo {
    margin-left: -22vw;
    font-size: 1.8vw;
  }
  .bio2_container .bio2_body .bio_texto {
    font-size: 1.3vw;
    width: 30vw;
  }
}
/*--------SECCION 3 BIOGRAFIA----------*/
.bio3_container {
  margin-top: 4rem;
}
.bio3_container .bio3_img {
  width: 90vw;
  height: 50vh;
  margin-left: 5vw;
  margin-top: 1rem;
}
.bio3_container .bio3_body .bio3_titulo {
  font-family: "Roboto Slab", serif;
  color: rgba(245, 221, 10, 0.966);
  font-size: 2rem;
  text-align: center;
  margin-top: 1.3rem;
}
.bio3_container .bio3_body .bio_texto {
  font-family: "Hind Madurai";
  margin-left: 1.5rem;
  font-size: 1.3rem;
  width: 85%;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

@media (min-width: 1024px) {
  .bio3_container {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .bio3_container .bio3_img {
    width: 40vw;
    height: 60vh;
    margin-left: 3vw;
    margin-top: 4rem;
  }
  .bio3_container .bio3_body .bio3_titulo {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .bio3_container .bio3_body .bio_texto {
    margin-left: 1.5vw;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1500px) {
  .bio3_container .bio3_img {
    width: 37vw;
    height: 68vh;
  }
  .bio3_container .bio3_body .bio3_titulo {
    margin-left: -22vw;
    font-size: 1.8vw;
  }
  .bio3_container .bio3_body .bio_texto {
    font-size: 1.3vw;
    width: 30vw;
  }
}
/*-----------FOTOGRAFIAS-----------*/
/*------HEADER------*/
h1 {
  font-size: -1rem;
}

@media (min-width: 1024px) {
  h1 {
    position: relative;
    left: 1rem;
  }
}
/*------SECCION FOTOS RONPE-------*/
.fotos_ronpe .fotos_ronpe_titulo {
  font-family: "Roboto Slab", serif;
  color: rgba(245, 221, 10, 0.966);
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}
.fotos_ronpe .fotos_ronpe_div {
  margin-left: 5vw;
}
.fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img1 {
  width: 90vw;
  height: 25rem;
  margin-top: 1rem;
  border: 2px solid black;
}
.fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img2 {
  width: 90vw;
  height: 25rem;
  margin-top: 3rem;
  border: 2px solid black;
}
.fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img3 {
  width: 90vw;
  height: 25rem;
  margin-top: 3rem;
  border: 2px solid black;
}
.fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img4 {
  width: 90vw;
  height: 25rem;
  margin-top: 3rem;
  border: 2px solid black;
}

@media (min-width: 1024px) {
  .fotos_ronpe .fotos_ronpe_titulo {
    font-size: 1.8rem;
  }
  .fotos_ronpe .fotos_ronpe_div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: 8vw;
    margin-top: 2rem;
  }
  .fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img1 {
    width: 40vw;
  }
  .fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img2 {
    width: 40vw;
    margin-left: -1rem;
    margin-top: 1.05rem;
  }
  .fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img3 {
    width: 40vw;
  }
  .fotos_ronpe .fotos_ronpe_div .fotos_ronpe_img4 {
    width: 40vw;
    margin-left: -1rem;
    position: relative;
  }
}
/*------SECCION CONCIERTOS RONPE IMGS-------*/
.conciertos_ronpe_imgs {
  margin-top: 6rem;
  text-align: center;
}
.conciertos_ronpe_imgs .conciertos_ronpe_titulo {
  font-family: "Roboto Slab", serif;
  color: rgba(245, 221, 10, 0.966);
  font-size: 1.6rem;
  margin-top: 3rem;
}
.conciertos_ronpe_imgs .conciertos_ronpe_img1 {
  width: 90vw;
  height: 20rem;
  margin-top: 2rem;
  border: 2px solid black;
}
.conciertos_ronpe_imgs .conciertos_ronpe_img2 {
  width: 90vw;
  height: 20rem;
  margin-top: 3rem;
  border: 2px solid black;
}
.conciertos_ronpe_imgs .conciertos_ronpe_img3 {
  width: 90vw;
  height: 20rem;
  margin-top: 3rem;
  border: 2px solid black;
}
.conciertos_ronpe_imgs .conciertos_ronpe_img4 {
  width: 90vw;
  height: 20rem;
  margin-top: 3rem;
  border: 2px solid black;
}

@media (min-width: 1024px) {
  .conciertos_ronpe_div_imgs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: 8vw;
  }
  .conciertos_ronpe_div_imgs .conciertos_ronpe_img1 {
    width: 40vw;
    height: 25rem;
  }
  .conciertos_ronpe_div_imgs .conciertos_ronpe_img2 {
    width: 40vw;
    height: 25rem;
    margin-left: -1rem;
    margin-top: 2rem;
  }
  .conciertos_ronpe_div_imgs .conciertos_ronpe_img3 {
    width: 40vw;
    height: 25rem;
  }
  .conciertos_ronpe_div_imgs .conciertos_ronpe_img4 {
    width: 40vw;
    height: 25rem;
    margin-left: -1rem;
    position: relative;
  }
}
/*------SECCION CONCIERTOS RONPE VIDEOS-------*/
.conciertos_ronpe_videos {
  margin-top: 4rem;
  text-align: center;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos {
  margin-top: 1rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body {
  text-align: center;
  color: whitesmoke;
  margin-left: -200px;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .conciertos_ronpe_texto2 {
  margin-left: -25px;
  position: relative;
  bottom: 1rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .conciertos_ronpe_texto2- {
  margin-left: -45px;
  position: relative;
  bottom: 1rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .conciertos_ronpe_texto2-- {
  margin-left: -57px;
  position: relative;
  bottom: 1rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .conciertos_ronpe_texto2--- {
  margin-left: -50px;
  position: relative;
  bottom: 1rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .conciertos_ronpe_texto3 {
  margin-left: -33px;
  position: relative;
  bottom: 2rem;
}
.conciertos_ronpe_videos .conciertos_ronpe_div_videos .conciertos_ronpe_body .bi {
  color: rgba(245, 221, 10, 0.966);
}
.conciertos_ronpe_videos .video_youtube1 {
  width: 95vw;
  height: 15rem;
}
.conciertos_ronpe_videos .video_youtube2 {
  margin-top: 1.5rem;
  width: 95vw;
  height: 15rem;
}

@media (min-width: 750px) {
  .conciertos_ronpe_videos .conciertos_ronpe_videos_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    margin-top: 7rem;
    margin-left: -2px;
  }
  .conciertos_ronpe_videos .video_youtube1 {
    width: 85vw;
    height: 600px;
    margin-top: 5rem;
  }
  .conciertos_ronpe_videos .video_youtube2 {
    width: 85vw;
    height: 600px;
  }
}
@media (min-width: 1300px) {
  .conciertos_ronpe_videos .conciertos_ronpe_videos_container {
    display: flex;
    justify-content: baseline;
    gap: 19px;
  }
  .conciertos_ronpe_videos .conciertos_ronpe_videos_container .conciertos_ronpe_video1 {
    height: 230px;
    width: 100%;
  }
  .conciertos_ronpe_videos .conciertos_ronpe_videos_container .conciertos_ronpe_video1- {
    height: 230px;
  }
  .conciertos_ronpe_videos .conciertos_ronpe_videos_container .conciertos_ronpe_body {
    font-size: 1.1rem;
    margin-left: 0rem;
  }
  .conciertos_ronpe_videos .video_youtube1 {
    width: 80vw;
    height: 40vw;
    margin-top: 4rem;
  }
  .conciertos_ronpe_videos .video_youtube2 {
    width: 80vw;
    height: 40vw;
    margin-top: 5rem;
  }
}
/*---------PROXIMOS CONCIERTOS---------*/
/*------HEADER------*/
header .titulo_prox_conciertos {
  font-size: 1.8rem;
}

/*SECCION CONCIERTOS*/
h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

/*-----CONCIERTO 1-----*/
.seccion_concierto1 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.seccion_concierto1 .conciertos_div {
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  width: 95vw;
  height: 110px;
}
.seccion_concierto1 .conciertos_div .conciertos_container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar {
  display: grid;
  grid-template-columns: 30% 30%;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
  font-family: "Hind Madurai";
  font-size: 1.3rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha .fecha_jun {
  position: absolute;
  bottom: -22px;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background: rgb(89, 69, 10);
  background: linear-gradient(90deg, rgb(89, 69, 10) 0%, rgb(64, 49, 7) 40%, rgb(64, 48, 5) 79%);
  position: relative;
  top: 20px;
  right: 1rem;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto {
  margin-left: 5px;
  font-size: 0.9rem;
  color: whitesmoke;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto:hover {
  color: rgba(245, 221, 10, 0.966);
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_horario {
  font-family: "Hind Madurai";
  margin-top: 1rem;
  margin-left: 10px;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_direccion {
  font-family: "Hind Madurai";
  font-size: 0.68rem;
  margin-left: 10px;
  position: relative;
  bottom: 16px;
}
.seccion_concierto1 .conciertos_div .conciertos_container .conciertos_mapa {
  width: 28vw;
  height: 110px;
  justify-content: end;
}

@media (min-width: 750px) {
  .seccion_concierto1 {
    margin-top: 2rem;
  }
  .seccion_concierto1 .conciertos_div {
    width: 90vw;
  }
  .seccion_concierto1 .conciertos_div .conciertos_container {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto1 .conciertos_div .conciertos_mapa {
    width: 28vw;
    height: 110px;
    justify-content: end;
  }
}
@media (min-width: 1300px) {
  .seccion_concierto1 {
    margin-top: 2rem;
    margin-left: -5rem;
  }
  .seccion_concierto1 .conciertos_div {
    width: 70vw;
  }
  .seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto1 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
    position: relative;
    right: -8rem;
  }
}
/*-----CONCIERTO 2-----*/
.seccion_concierto2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.seccion_concierto2 .conciertos_div {
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  width: 95vw;
  height: 110px;
}
.seccion_concierto2 .conciertos_div .conciertos_container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar {
  display: grid;
  grid-template-columns: 30% 30%;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
  font-family: "Hind Madurai";
  font-size: 1.3rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha .fecha_jun {
  position: absolute;
  bottom: -22px;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background: rgb(89, 69, 10);
  background: linear-gradient(90deg, rgb(89, 69, 10) 0%, rgb(64, 49, 7) 40%, rgb(64, 48, 5) 79%);
  position: relative;
  top: 20px;
  right: 1rem;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto {
  margin-left: 5px;
  font-size: 0.9rem;
  color: whitesmoke;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto:hover {
  color: rgba(245, 221, 10, 0.966);
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_horario {
  font-family: "Hind Madurai";
  margin-top: 1rem;
  margin-left: 10px;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_direccion {
  font-family: "Hind Madurai";
  font-size: 0.68rem;
  margin-left: 10px;
  position: relative;
  bottom: 16px;
}
.seccion_concierto2 .conciertos_div .conciertos_container .conciertos_mapa {
  width: 28vw;
  height: 110px;
  justify-content: end;
}

@media (min-width: 750px) {
  .seccion_concierto2 {
    margin-top: 2rem;
  }
  .seccion_concierto2 .conciertos_div {
    width: 90vw;
  }
  .seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto2 .conciertos_div .conciertos_mapa {
    width: 28vw;
    height: 110px;
    justify-content: end;
  }
}
@media (min-width: 1300px) {
  .seccion_concierto2 {
    margin-top: 2rem;
    margin-left: -5rem;
  }
  .seccion_concierto2 .conciertos_div {
    width: 70vw;
  }
  .seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto2 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
    position: relative;
    right: -8rem;
  }
}
/*-----CONCIERTO 3-----*/
.seccion_concierto3 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.seccion_concierto3 .conciertos_div {
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  width: 95vw;
  height: 110px;
}
.seccion_concierto3 .conciertos_div .conciertos_container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar {
  display: grid;
  grid-template-columns: 30% 30%;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
  font-family: "Hind Madurai";
  font-size: 1.3rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha .fecha_jun {
  position: absolute;
  bottom: -22px;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background: rgb(89, 69, 10);
  background: linear-gradient(90deg, rgb(89, 69, 10) 0%, rgb(64, 49, 7) 40%, rgb(64, 48, 5) 79%);
  position: relative;
  top: 20px;
  right: 1rem;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto {
  margin-left: 5px;
  font-size: 0.9rem;
  color: whitesmoke;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto:hover {
  color: rgba(245, 221, 10, 0.966);
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_horario {
  font-family: "Hind Madurai";
  margin-top: 1rem;
  margin-left: 10px;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_direccion {
  font-family: "Hind Madurai";
  font-size: 0.7rem;
  margin-left: 10px;
  position: relative;
  bottom: 16px;
}
.seccion_concierto3 .conciertos_div .conciertos_container .conciertos_mapa {
  width: 28vw;
  height: 110px;
  justify-content: end;
}

@media (min-width: 750px) {
  .seccion_concierto3 {
    margin-top: 2rem;
  }
  .seccion_concierto3 .conciertos_div {
    width: 90vw;
  }
  .seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto3 .conciertos_div .conciertos_mapa {
    width: 28vw;
    height: 110px;
    justify-content: end;
  }
}
@media (min-width: 1300px) {
  .seccion_concierto3 {
    margin-top: 2rem;
    margin-left: -5rem;
  }
  .seccion_concierto3 .conciertos_div {
    width: 70vw;
  }
  .seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto3 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
    position: relative;
    right: -8rem;
  }
}
/*-----CONCIERTO 4-----*/
.seccion_concierto4 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.seccion_concierto4 .conciertos_div {
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  width: 95vw;
  height: 110px;
}
.seccion_concierto4 .conciertos_div .conciertos_container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar {
  display: grid;
  grid-template-columns: 30% 30%;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
  font-family: "Hind Madurai";
  font-size: 1.3rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha .fecha_jun {
  position: absolute;
  bottom: -22px;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background: rgb(89, 69, 10);
  background: linear-gradient(90deg, rgb(89, 69, 10) 0%, rgb(64, 49, 7) 40%, rgb(64, 48, 5) 79%);
  position: relative;
  top: 20px;
  right: 1rem;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto {
  margin-left: 5px;
  font-size: 0.9rem;
  color: whitesmoke;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto:hover {
  color: rgba(245, 221, 10, 0.966);
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_horario {
  font-family: "Hind Madurai";
  margin-top: 1rem;
  margin-left: 10px;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_direccion {
  font-family: "Hind Madurai";
  font-size: 0.7rem;
  margin-left: 10px;
  position: relative;
  bottom: 16px;
}
.seccion_concierto4 .conciertos_div .conciertos_container .conciertos_mapa {
  width: 28vw;
  height: 110px;
  justify-content: end;
}

@media (min-width: 750px) {
  .seccion_concierto4 {
    margin-top: 2rem;
  }
  .seccion_concierto4 .conciertos_div {
    width: 90vw;
  }
  .seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto4 .conciertos_div .conciertos_mapa {
    width: 28vw;
    height: 110px;
    justify-content: end;
  }
}
@media (min-width: 1300px) {
  .seccion_concierto4 {
    margin-top: 2rem;
    margin-left: -5rem;
  }
  .seccion_concierto4 .conciertos_div {
    width: 70vw;
  }
  .seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto4 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
    position: relative;
    right: -8rem;
  }
}
/*-----CONCIERTO 5-----*/
.seccion_concierto5 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.seccion_concierto5 .conciertos_div {
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  width: 95vw;
  height: 110px;
}
.seccion_concierto5 .conciertos_div .conciertos_container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar {
  display: grid;
  grid-template-columns: 30% 30%;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
  font-family: "Hind Madurai";
  font-size: 1.3rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha .fecha_jun {
  position: absolute;
  bottom: -22px;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background: rgb(89, 69, 10);
  background: linear-gradient(90deg, rgb(89, 69, 10) 0%, rgb(64, 49, 7) 40%, rgb(64, 48, 5) 79%);
  position: relative;
  top: 20px;
  right: 1rem;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto {
  margin-left: 5px;
  font-size: 0.9rem;
  color: whitesmoke;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar .comprar_texto:hover {
  color: rgba(245, 221, 10, 0.966);
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_horario {
  font-family: "Hind Madurai";
  margin-top: 1rem;
  margin-left: 10px;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_direccion {
  font-family: "Hind Madurai";
  font-size: 0.7rem;
  margin-left: 10px;
  position: relative;
  bottom: 16px;
}
.seccion_concierto5 .conciertos_div .conciertos_container .conciertos_mapa {
  width: 28vw;
  height: 110px;
  justify-content: end;
}

@media (min-width: 750px) {
  .seccion_concierto5 {
    margin-top: 2rem;
  }
  .seccion_concierto5 .conciertos_div {
    width: 90vw;
  }
  .seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto5 .conciertos_div .conciertos_mapa {
    width: 28vw;
    height: 110px;
    justify-content: end;
  }
}
@media (min-width: 1300px) {
  .seccion_concierto5 {
    margin-top: 2rem;
    margin-left: -5rem;
  }
  .seccion_concierto5 .conciertos_div {
    width: 70vw;
  }
  .seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_fecha {
    font-size: 1.5rem;
  }
  .seccion_concierto5 .conciertos_div .conciertos_container .conciertos_body .conciertos_fecha_comprar .conciertos_comprar {
    position: relative;
    right: -8rem;
  }
}
/*------SECCION TARJETA METODOS DE PAGO-------*/
.titulo_pagos {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  margin-top: 4rem;
}

.tarjeta_pagos {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.tarjeta_pagos .tarjeta_pagos_div {
  width: 90vw;
  background: rgb(136, 117, 60);
  background: linear-gradient(90deg, rgb(136, 117, 60) 0%, rgb(186, 184, 161) 40%, rgb(190, 187, 150) 79%);
  border: 2px solid black;
}
.tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_img {
  width: 100%;
  height: 200px;
}
.tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list {
  font-size: 1.1rem;
  font-family: "Hind Madurai";
  margin-top: 1rem;
  position: relative;
  right: 20px;
}
.tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list .bi-cash-coin {
  color: green;
  position: relative;
  top: 3px;
}
.tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list .fa-handshake-o {
  color: darkturquoise;
}

@media (min-width: 550px) {
  .tarjeta_pagos .tarjeta_pagos_div {
    width: 80vw;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_img {
    width: 100%;
    height: 250px;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list {
    font-size: 1.6rem;
    font-family: "Hind Madurai";
    margin-top: 3rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 900px) {
  .tarjeta_pagos .tarjeta_pagos_div {
    width: 60vw;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_img {
    width: 100%;
    height: 250px;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list {
    font-size: 1.7rem;
    font-family: "Hind Madurai";
    margin-top: 2.5rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1400px) {
  .tarjeta_pagos .tarjeta_pagos_div {
    width: 30vw;
    height: 230px;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_img {
    width: 100%;
    height: 226px;
  }
  .tarjeta_pagos .tarjeta_pagos_div .tarjeta_pagos_body .tarjeta_pagos_list {
    font-size: 1.7rem;
    font-family: "Hind Madurai";
    margin-top: 2rem;
    margin-left: 1rem;
  }
}
/*---------SECCION CANCIONES TOP--------*/
.canciones_top {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.canciones_top .canciones_top_titulo {
  font-size: 1.6rem;
  color: rgba(245, 221, 10, 0.966);
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.canciones_top .canciones_top_div {
  width: 90vw;
  height: 600px;
  background: rgb(222, 215, 196);
  background: linear-gradient(90deg, rgb(222, 215, 196) 0%, rgb(219, 215, 202) 25%, rgb(237, 235, 229) 79%);
  justify-content: center;
}
.canciones_top .canciones_top_div .canciones_top_list {
  position: relative;
  top: 7px;
  justify-content: center;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 {
  display: flex;
  justify-content: center;
  margin-left: -5rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 39px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -8rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item2 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item2 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 88px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item3 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -9rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item3 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item3 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 103px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item4 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -9.6rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item4 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item4 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 113px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item5 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -11.5rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item5 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item5 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 143px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item6 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -10.2rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item6 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item6 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 123px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item7 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -7.6rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item7 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item7 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 82px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item8 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -8.2rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item8 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item8 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 90px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item9 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -10.7rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item9 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item9 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 132px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item10 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -8.9rem;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item10 .canciones_top_texto {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.canciones_top .canciones_top_div .canciones_top_list .canciones_top_item10 .canciones_top_audio {
  width: 50px;
  position: relative;
  left: 102px;
}

@media (min-width: 850px) {
  .canciones_top .canciones_top_div {
    width: 90vw;
    height: 310px;
  }
  .canciones_top .canciones_top_div .canciones_top_list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 {
    position: relative;
    top: 16px;
  }
  .canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 .canciones_top_audio {
    margin-bottom: 1rem;
  }
  .canciones_top .canciones_top_div .canciones_top_list .canciones_top_item1 .canciones_top_portada {
    height: 40px;
  }
}
@media (min-width: 1100px) {
  .canciones_top .canciones_top_div {
    width: 80vw;
    height: 400px;
  }
  .canciones_top .canciones_top_div .canciones_top_list {
    gap: 20px;
  }
}
@media (min-width: 1500px) {
  .canciones_top .canciones_top_div {
    width: 60vw;
    height: 500px;
  }
  .canciones_top .canciones_top_div .canciones_top_list {
    position: relative;
    top: 40px;
    gap: 25px;
  }
}
/*------SECCION SINTOMAS---------*/
.sintomas {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.sintomas .sintomas_titulo {
  font-size: 1.6rem;
  color: rgba(245, 221, 10, 0.966);
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.sintomas .sintomas_div {
  width: 90vw;
  height: 520px;
  background: rgb(93, 3, 3);
  background: linear-gradient(90deg, rgb(93, 3, 3) 0%, rgb(134, 13, 13) 44%, rgb(111, 72, 16) 84%);
  text-align: center;
}
.sintomas .sintomas_div .sintomas_texto {
  font-family: "Hind Madurai";
  width: 100%;
  padding: 15px;
  color: whitesmoke;
}
.sintomas .sintomas_div .sintomas_list {
  margin-left: -25px;
  position: relative;
  top: 7px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -7rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item1 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item1 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 102px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -6.3rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item2 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item2 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 92px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item3 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -5.1rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item3 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item3 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 73px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item4 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -5.6rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item4 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item4 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 81px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item5 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -5.5rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item5 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item5 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 80px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item6 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -2.2rem;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item6 .sintomas_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.sintomas .sintomas_div .sintomas_list .sintomas_item6 .sintomas_audio {
  width: 50px;
  position: relative;
  left: 28px;
}

/*----SECCION APARECE EN-----*/
.aparece {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.aparece .aparece_titulo {
  font-size: 1.6rem;
  color: rgba(245, 221, 10, 0.966);
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.aparece .aparece_div {
  width: 90vw;
  height: 300px;
  background: rgb(120, 113, 14);
  background: linear-gradient(90deg, rgb(120, 113, 14) 0%, rgb(175, 158, 0) 48%, rgb(206, 208, 39) 94%);
  text-align: center;
}
.aparece .aparece_div .aparece_texto {
  font-family: "Hind Madurai";
  width: 100%;
  padding: 15px;
  color: whitesmoke;
}
.aparece .aparece_div .aparece_list {
  margin-left: 30px;
  position: relative;
  top: 7px;
  left: 15px;
}
.aparece .aparece_div .aparece_list .aparece_item1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -7rem;
}
.aparece .aparece_div .aparece_list .aparece_item1 .aparece_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.aparece .aparece_div .aparece_list .aparece_item1 .aparece_audio {
  width: 50px;
  position: relative;
  left: 22px;
}
.aparece .aparece_div .aparece_list .aparece_item2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -12rem;
}
.aparece .aparece_div .aparece_list .aparece_item2 .aparece_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.aparece .aparece_div .aparece_list .aparece_item2 .aparece_audio {
  width: 50px;
  position: relative;
  left: 102px;
}
.aparece .aparece_div .aparece_list .aparece_item3 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -10.7rem;
}
.aparece .aparece_div .aparece_list .aparece_item3 .aparece_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.aparece .aparece_div .aparece_list .aparece_item3 .aparece_audio {
  width: 50px;
  position: relative;
  left: 83px;
}
.aparece .aparece_div .aparece_list .aparece_item4 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -10.5rem;
}
.aparece .aparece_div .aparece_list .aparece_item4 .aparece_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: 6px;
  margin-left: 16px;
}
.aparece .aparece_div .aparece_list .aparece_item4 .aparece_audio {
  width: 50px;
  position: relative;
  left: 81px;
}
.aparece .aparece_div .aparece_list .aparece_item5 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -9.5rem;
  height: 40px;
}
.aparece .aparece_div .aparece_list .aparece_item5 .aparece_nombre_cancion {
  font-family: "Hind Madurai";
  font-size: 1.1rem;
  color: whitesmoke;
  position: relative;
  top: -3px;
  margin-left: 16px;
}
.aparece .aparece_div .aparece_list .aparece_item5 .aparece_audio {
  width: 50px;
  position: relative;
  left: 64px;
}

/*-----CONTAINER SINTOMAS APARECE-----*/
@media (min-width: 850px) {
  .container_sintomas_aparece {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .container_sintomas_aparece .sintomas .sintomas_div {
    width: 40vw;
  }
  .container_sintomas_aparece .aparece {
    margin-top: 5rem;
  }
  .container_sintomas_aparece .aparece .aparece_div {
    width: 40vw;
    height: 450px;
    margin-top: -0.5rem;
  }
  .container_sintomas_aparece .aparece .aparece_div .aparece_list {
    position: relative;
    top: 70px;
  }
}
@media (min-width: 1300px) {
  .container_sintomas_aparece .sintomas .sintomas_titulo {
    margin-left: 18rem;
  }
  .container_sintomas_aparece .sintomas .sintomas_div {
    width: 45vw;
    margin-left: 20vw;
    height: 350px;
  }
  .container_sintomas_aparece .sintomas .sintomas_div .sintomas_list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .container_sintomas_aparece .aparece {
    margin-top: 5.2rem;
  }
  .container_sintomas_aparece .aparece .aparece_div {
    width: 30vw;
    height: 350px;
    margin-top: -0.5rem;
  }
}
/*------SECCION CONOCE MAS CANCIONES------*/
.conoce {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.conoce .conoce_titulo {
  font-size: 1.6rem;
  color: rgba(245, 221, 10, 0.966);
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.conoce .conoce_container {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.conoce .conoce_container .conoce_h3 {
  font-family: "Hind Madurai";
  font-size: 1.4rem;
  color: rgba(245, 221, 10, 0.966);
  margin-left: -1rem;
  position: relative;
  top: 10px;
}
.conoce .conoce_container .conoce_item1 {
  font-size: 1rem;
  text-decoration: none;
  color: #81b71a;
  margin-top: 12px;
}
.conoce .conoce_container .conoce_item1:hover {
  font-size: 1.1rem;
}
.conoce .conoce_container .conoce_item2 {
  font-size: 1rem;
  text-decoration: none;
  color: #FF0000;
  margin-top: 12px;
}
.conoce .conoce_container .conoce_item2:hover {
  font-size: 1.1rem;
}
.conoce .conoce_container .conoce_item3 {
  font-size: 1rem;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 12px;
}
.conoce .conoce_container .conoce_item3:hover {
  font-size: 1.1rem;
}
.conoce .conoce_container .conoce_item3 .bi-spotify {
  color: #81b71a;
  margin-left: 8px;
}
.conoce .conoce_container .conoce_item4 {
  font-size: 1rem;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 12px;
}
.conoce .conoce_container .conoce_item4:hover {
  font-size: 1.1rem;
}
.conoce .conoce_container .conoce_item4 .bi-spotify {
  color: #81b71a;
  margin-left: 8px;
}
.conoce .conoce_container .conoce_item5 {
  font-size: 1rem;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 12px;
}
.conoce .conoce_container .conoce_item5:hover {
  font-size: 1.1rem;
}
.conoce .conoce_container .conoce_item5 .bi-youtube {
  color: #FF0000;
  margin-left: 8px;
}

@media (min-width: 850px) {
  .conoce .conoce_body {
    display: flex;
    gap: 40px;
  }
  .conoce .conoce_body .conoce_container .conoce_h3 {
    font-size: 1rem;
  }
  .conoce .conoce_body .conoce_container .conoce_item1 {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .conoce .conoce_body .conoce_container .conoce_item2 {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .conoce .conoce_body .conoce_container .conoce_item3 {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .conoce .conoce_body .conoce_container .conoce_item4 {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .conoce .conoce_body .conoce_container .conoce_item5 {
    font-size: 0.9rem;
    margin-top: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
