* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-principal: rgba(245, 221, 10, 0.966);

$color-blanco: whitesmoke;

$color-beige: beige;


.viñetas-no {
    list-style: none;
}

body {
    background-color: #212121;
    overflow-x: hidden;
}
