/*-----------FOTOGRAFIAS-----------*/


/*------HEADER------*/
h1 {
    font-size: -1rem;
}

@media (min-width: 1024px) {
    h1 {
        position: relative;
        left: 1rem;
    }
}

/*------SECCION FOTOS RONPE-------*/
.fotos_ronpe {
    margin-top: 3rem;
    .fotos_ronpe_div {
        margin-left: 5vw;
        .fotos_ronpe_img1 {
            width: 90vw;
            height: 20rem;
            margin-top: 1rem;
            border: 2px solid black;
        }

        .fotos_ronpe_img2 {
            width: 90vw;
            height: 20rem;
            margin-top: 3rem;
            border: 2px solid black;
        }

        .fotos_ronpe_img3 {
            width: 90vw;
            height: 20rem;
            margin-top: 3rem;
            border: 2px solid black;
    }

        .fotos_ronpe_img4 {
            width: 90vw;
            height: 20rem;
            margin-top: 3rem;
            border: 2px solid black;
        }
    }
}

@media (min-width: 1024px) {
    .fotos_ronpe {
        .fotos_ronpe_titulo {
            font-size: 1.8rem;
        }
        .fotos_ronpe_div {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            margin-left: 8vw;
            margin-top: 2rem;
            .fotos_ronpe_img1 {
                width: 40vw;
                height: 25rem;
            }
            .fotos_ronpe_img2 {
                width: 40vw;
                height: 25rem;
                margin-left: -1rem;
                margin-top: 1.05rem;
            }
            .fotos_ronpe_img3 {
                width: 40vw;
                height: 25rem;
            }
            .fotos_ronpe_img4 {
                width: 40vw;
                height: 25rem;
                margin-left: -1rem;
                position: relative;
            }
        }
    }
}


/*------SECCION CONCIERTOS RONPE IMGS-------*/
.conciertos_ronpe_imgs {
    margin-top: 6rem;
    text-align: center;

    .conciertos_ronpe_titulo {
        font-family: 'Roboto Slab', serif;
        color: $color-principal;
        font-size: 1.8rem;
        margin-top: 3rem;
    }

    .conciertos_ronpe_img1 {
        width: 90vw;
        height: 18rem;
        margin-top: 2rem;
        border: 2px solid black;
    }

    .conciertos_ronpe_img2 {
        width: 90vw;
        height: 18rem;
        margin-top: 3rem;
        border: 2px solid black;
    }

    .conciertos_ronpe_img3 {
        width: 90vw;
        height: 20rem;
        margin-top: 3rem;
        border: 2px solid black;
    }

    .conciertos_ronpe_img4 {
        width: 90vw;
        height: 20rem;
        margin-top: 3rem;
        border: 2px solid black;
    }
}

@media (min-width: 1024px) {
    .conciertos_ronpe_imgs {
        .conciertos_ronpe_titulo {
            font-size: 2.4rem;
        }
    
        .conciertos_ronpe_div_imgs {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            margin-left: 8vw;
    
            .conciertos_ronpe_img1 {
                width: 40vw;
                height: 22rem;
            }
            .conciertos_ronpe_img2 {
                width: 40vw;
                height: 22rem;
                margin-left: -1rem;
                margin-top: 2rem;
            }
            .conciertos_ronpe_img3 {
                width: 40vw;
                height: 23rem;
            }
            .conciertos_ronpe_img4 {
                width: 40vw;
                height: 23rem;
                margin-left: -1rem;
                position: relative;
            }
        }
    }
}



/*------SECCION CONCIERTOS RONPE VIDEOS-------*/
.conciertos_ronpe_videos {
    margin-top: 4rem;
    text-align: center;
    .conciertos_ronpe_videos_container {
        .conciertos_ronpe_div_videos {
            margin-top: 1rem;
            text-align: center;

            .conciertos_ronpe_body {
                width: 100%;
                color: $color-blanco;

                .conciertos_ronpe_texto2 {
                    margin-left: -13px;
                    position: relative;
                    bottom: 1rem;
                    width: 100%
                }

                .conciertos_ronpe_texto2- {
                    margin-left: -23px;
                    position: relative;
                    bottom: 1rem;
                    width: 100%
                }
    
                .conciertos_ronpe_texto2-- {
                    margin-left: -29px;
                    position: relative;
                    bottom: 1rem;
                    width: 100%
                }
    
                .conciertos_ronpe_texto2--- {
                    margin-left: -25px;
                    position: relative;
                    bottom: 1rem;
                    width: 100%
                }
    
                .conciertos_ronpe_texto3 {
                    margin-left: -17px;
                    position: relative;
                    bottom: 2rem;
                    width: 100%
                }
    
                .bi {
                    color: $color-principal;
                }
            }
        } 
    }

    .video_youtube1 {
        width: 95vw;
        height: 15rem;
    }
    
    .video_youtube2 {
        margin-top: 1.5rem;
        width: 95vw;
        height: 15rem;
    }
}



@media (min-width: 750px) {
    .conciertos_ronpe_videos {
        .conciertos_ronpe_videos_container {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-content: center;
            margin-top: 1rem;
            margin-left: -2px;
        }
        .video_youtube1 {
            width: 85vw;
            height: 500px;
            margin-top: 5rem;
        }
        .video_youtube2 {
            width: 85vw;
            height: 500px;
        }
    }
}

@media (min-width: 1300px) {
    .conciertos_ronpe_videos {
        .conciertos_ronpe_videos_container {
            display: flex;
            justify-content:baseline;
            gap: 25px;
            .conciertos_ronpe_video1 {
                height: 230px;
                width: 100%;
            } 
            .conciertos_ronpe_video1- {
                height: 230px
            }
            .conciertos_ronpe_body {
                font-size: 1.1rem;
                margin-left: 0rem;
            }
        }
        .video_youtube1 {
            width: 80vw;
            height: 40vw;
            margin-top: 4rem;
        }
        .video_youtube2 {
            width: 80vw;
            height: 40vw;
            margin-top: 5rem;
        }
    }
}
