/*---------------------HEADER----------------*/

header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 7rem;
    overflow: hidden;

    .caja-logo-ronpe {
        margin-left: 1rem;
        max-width: 4rem;
        height: 4rem;
    }

    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1024px) {
    header {
        .caja-logo-ronpe {
            margin-left: 3rem;
        }

        h1 {
            font-size: 2.5rem;
        }
    }
}


/*-----------------------MAIN----------------------*/

/*------------NAV----------*/

.nav_list {
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
    display: flexbox;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    list-style: none;
    background-color: black;

    .nav_links {
        text-decoration: none;
        color: yellow;

        &:hover {
            font-size: 1.4rem;
            text-decoration: underline;
        }
    }
}

@media (min-width: 675px) {
    .nav_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: 50px;
        .nav_links {
            font-size: 1.3rem;
            &:hover {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .nav_list {
        .nav_links {
            font-size: 1.5rem;
            &:hover {
                font-size: 1.6rem;
            }
        }
    }
}


/*------ESTRUCTURA SITIO DESKTOP------*/
@media (min-width: 675px) {
    .estructura-sitio {
        display: grid;
        grid-template-columns: 45% 45%;
    }
}


/*-------SECCION BIOGRAFIA-------*/

.carousel {
    margin-left: 5vw;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 90vw;
}

.minibiografia {
    .texto_minibiografia {
        font-family: 'Hind Madurai', sans-serif;
        font-size: 1.1rem;
        margin-left: 3vw;
        max-width: 90%;
        text-align: center;
        color: $color-blanco;

        .seguir_leyendo {
            font-family: 'Hind Madurai', sans-serif;
            list-style: none;
            text-decoration: none;
            font-size: 1.1rem;
    
            &:hover {
                font-size: 1.2rem;
            }
        }
    }
}


@media (min-width: 675px) {
    .carousel {
        margin-left: 2rem;
        margin-top: 3rem;
        width: 40vw;
    }
    .minibiografia {
        .texto_minibiografia {
            font-family: 'Hind Madurai', sans-serif;
            font-size: 1.2rem;
            text-align: center;
            color: $color-blanco;
            position: relative;
            bottom: 30px;
            .seguir_leyendo {
                font-size: 1.2rem;
                &:hover {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .minibiografia {
        .texto_minibiografia {
            position: relative;
            left: -1.2vw;
        }
    }
}


/*-----SECCION CANCIONES POPULARES------*/

.canciones_populares_section {
    margin-bottom: 4rem;

    .canciones_populares_titulo {
        font-family: 'Roboto Slab', serif;
        font-size: 1.3rem;
        text-align: center;
        color: $color-principal;
    }

    .canciones_populares_container {
        background: rgb(45, 37, 14);
        background: linear-gradient(90deg, rgba(45, 37, 14, 1) 0%, rgba(148, 141, 55, 1) 40%, rgba(196, 181, 12, 1) 80%);
        border: solid black;
        min-height: 500px;
        max-width: 90vw;
        gap: 10px;
        margin-left: 4.5vw;
        margin-top: 0.5rem;
        overflow:hidden;

        .canciones_populares_div {
            max-width: 90%;
            border-radius: 10px;
            background: black;
            margin-top: 1rem;
            margin-left: 2.5vw;
            text-align: center;
            justify-content: center;

            .canciones_populares_nombreTema {
                font-size: 1.2rem;
                font-family: 'Hind Madurai', sans-serif;
                color: $color-blanco
            }

            .canciones_populares_reproductor {
                width: 90%;
                border-radius: 30px;
            }
        }
    }
}

@media (min-width: 675px) {
    .canciones_populares_section {
        position: absolute;
        top: 150px;
        left: 42.5vw;

        .canciones_populares_titulo {
            margin-left: 5vw;
            margin-bottom: 1rem;
            color: $color-principal;
            font-size: 1.5rem;
        }

        .canciones_populares_container {
            width: 50vw;
        }
    }
}


/*-------SECCION ULTIMO LANZAMIENTO--------*/

.ult_lanzamiento_titulo {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    text-align: center;
    color: $color-principal;
    margin-top: 4rem;
}

.ult_lanzamiento_div {
    height: 140px;
    width: 95vw;
    background: rgb(45, 37, 14);
    background: linear-gradient(90deg, rgba(45, 37, 14, 1) 0%, rgba(148, 141, 55, 1) 40%, rgba(196, 181, 12, 1) 80%);
    border: solid black;
    margin-left: 2.5vw;

    .img-trastorno {
        margin-top: 0.9rem;
        margin-left: 1rem;
        width: 5.5rem;
        height: 5.5rem;
    }

    .ult_lanzamiento_body {
        position: relative;
        bottom: 5.5rem;
        left: 7rem;

        .ult_lanzamiento_nombre {
            font-family: 'Hind Madurai';
            font-size: 1.5rem;
            margin-left: 0.3rem;
        }

        .ult_lanzamiento_fecha {
            font-family: 'Hind Madurai';
            font-size: 1rem;
            margin-top: -0.8rem;
            margin-left: 0.5rem;
        }

        .ult_lanzamiento_reproductor {
            margin-top: -10px;
            margin-left: 10px;
            border-radius: 30px;
            width: 55vw
        }
    }
}

@media (min-width: 675px) {
    .ult_lanzamiento_titulo {
        margin-top: 2rem;
    }

    .ult_lanzamiento_titulo {
        font-size: 1.5rem;
    }
}


@media (min-width: 1024px) {
    .ult_lanzamiento_titulo {
        font-size: 1.5rem;
        text-align: start;
        margin-left: 2.8vw;
        color: $color-principal;
    }

    .ult_lanzamiento_div {
        height: 160px;
        margin-top: 1rem;

        .img-trastorno {
            margin-top: 0.6rem;
            margin-left: 1rem;
            width: 8.3rem;
            height: 8.3rem;
        }

        .ult_lanzamiento_body {
            margin-left: 6vw;
            margin-top: -2.3rem;

            .ult_lanzamiento_nombre {
                font-size: 1.8rem;
                color: black;
            }

            .ult_lanzamiento_fecha {
                font-size: 1rem;
                color: black;
                margin-top: -0.5rem;
            }

            .ult_lanzamiento_reproductor {
                margin-top: 0px;
                width: 60%;
            }
        }
    }
}


/*-----------SECCION TARJETAS------------*/

.tarjetas {
    margin-top: 5rem;

    .tarjetas_titulo {
        font-family: 'Roboto Slab', serif;
        font-size: 1.3rem;
        text-align: center;
        color: $color-principal;
    }

    .tarjeta1_div {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 2rem;
        background: rgb(190, 181, 26);
        background: linear-gradient(0deg, rgba(190, 181, 26, 1) 10%, rgba(175, 172, 13, 1) 42%, rgba(111, 109, 55, 1) 72%);
        position: relative;
        bottom: 1rem;
        border: 2px solid black;

        .tarjetas_img {
            width: 100%;
            height: 200px;
        }

        .tarjetas_body {
            padding: 1rem;

            .tarjetas_body_nombreCancion {
                color: $color-beige;
                font-family: 'Hind Madurai';
                font-size: 1.9rem;
                text-align: center;
            }

            .tarjetas_body_fechaDeLanzamiento {
                color: $color-beige;
                font-family: 'Hind Madurai';
                font-size: 1.4rem;
            }

            .tarjetas_reproductor {
                width: 100%;
                border-radius: 20px;
                margin-top: 0.5rem;
            }

            .tarjetas_body_letra {
                color: $color-blanco;
                margin-left: 0vw;
                margin-top: 1rem;
                font-size: 0.8rem;
                font-family: 'Hind Madurai';
            }
        }
    }

    .tarjeta2_div {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 2rem;
        background: rgb(190, 181, 26);
        background: linear-gradient(0deg, rgba(190, 181, 26, 1) 10%, rgba(175, 172, 13, 1) 42%, rgba(111, 109, 55, 1) 72%);
        border: 2px solid black;

        .tarjetas_img {
            width: 100%;
            height: 200px;
        }

        .tarjetas_body {
            padding: 1rem;

            .tarjetas_body_nombreCancion {
                color: $color-beige;
                font-family: 'Hind Madurai';
                font-size: 1.9rem;
                text-align: center;
            }

            .tarjetas_body_fechaDeLanzamiento {
                color: $color-beige;
                font-family: 'Hind Madurai';
                font-size: 1.4rem;
            }

            .tarjetas_reproductor {
                width: 100%;
                border-radius: 20px;
                margin-top: 0.5rem;
            }

            .tarjetas_body_letra {
                color: $color-blanco;
                margin-left: 0vw;
                margin-top: 1rem;
                font-size: 0.8rem;
                font-family: 'Hind Madurai';
            }
        }
    }
}

.tarjeta3_div {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3rem;
    background: rgb(190, 181, 26);
    background: linear-gradient(0deg, rgba(190, 181, 26, 1) 10%, rgba(175, 172, 13, 1) 42%, rgba(111, 109, 55, 1) 72%);
    border: 2px solid black;

    .tarjetas_img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .tarjetas_body {
        padding: 1rem;

        .tarjetas_body_nombreCancion {
            color: $color-beige;
            font-family: 'Hind Madurai';
            font-size: 1.9rem;
            text-align: center;
        }

        .tarjetas_body_fechaDeLanzamiento {
            color: $color-beige;
            font-family: 'Hind Madurai';
            font-size: 1.4rem;
        }

        .tarjetas_reproductor {
            width: 100%;
            border-radius: 20px;
            margin-top: 0.5rem;
        }

        .tarjetas_body_letra {
            color: $color-blanco;
            margin-left: 0vw;
            margin-top: 1rem;
            font-size: 0.77rem;
            font-family: 'Hind Madurai';
        }
    }
}

@media (min-width: 775px) {
    .tarjetas {
        .tarjetas_titulo {
            font-family: 'Roboto Slab', serif;
            font-size: 1.5rem;
            text-align: center;
            color: $color-principal;
        }
        .tarjetas_div_estructura {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            margin-top: -1rem;
            .tarjeta1_div {
                width: 30vw;
                margin-left: 3vw;
                position: relative;
                top: 0rem;
            }
            .tarjeta2_div {
                width: 30vw;
                margin-left: 2vw;
            }
            .tarjeta3_div {
                width: 30vw;
                margin-left: 1vw;
                margin-top: 2rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .tarjetas {
        .tarjetas_titulo {
            font-size: 1.5rem;
            text-align: start;
            margin-left: 3vw;
        }
    }
}

/*------------------------FOOTER-------------------------*/

footer {
    background-color: black;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    margin-top: 7rem;
}

@media (min-width: 675px) {
    footer {
        background-color: black;
        display: flex;
        justify-content: center;
    }
}


/*----------------REDES SOCIALES FOOTER-------------------*/

.redes_div {
    margin-left: 0vw;
    margin-top: -0.1rem;

    .redes_titulo {
        font-family: 'Hind Madurai';
        font-size: 1.1rem;
        margin-left: 23px;
        margin-top: 1rem;
        color: $color-principal;
    }

    .redes_list {
        font-family: 'Hind Madurai';
        font-size: 0.9rem;
        position: relative;
        bottom: 0.5rem;
        left: -7px;

        .redes_link_facebook {
            text-decoration: none;
            color: $color-beige;

            &:hover {
                color: cornflowerblue;
            }
        }

        .redes_link_instagram {
            text-decoration: none;
            color: $color-beige;

            &:hover {
                color: #833AB4;
            }
        }

        .redes_link_twitter {
            text-decoration: none;
            color: $color-beige;

            &:hover {
                color: deepskyblue;
            }
        }

        .redes_link_youtube {
            text-decoration: none;
            color: $color-beige;

            &:hover {
                color: #c4302b;
            }
        }

        .bi-facebook {
            margin-left: 0.4rem;
            color: cornflowerblue;
        }

        .bi-instagram {
            margin-left: 0.4rem;
            color: #833AB4;
        }

        .bi-twitter {
            margin-left: 0.4rem;
            color: deepskyblue;
        }

        .bi-youtube {
            margin-left: 0.4rem;
            color: #c4302b;
        }
    }
}

@media (min-width: 1024px) {
    .redes_div {
        margin-left: 0vw;

        .redes_titulo {
            font-size: 1.3rem;
            margin-left: 25px;
        }

        .redes_list {
            font-size: 1.1rem;
        }
    }
}


/*--------------------------NAV FOOTER----------------------------*/

.nav_footer_div {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-left: 1vw;

    .nav_footer_titulo {
        font-size: 1.1rem;
        font-family: 'Hind Madurai';
        margin-left: 1.2rem;
        color: $color-principal;
    }

    .nav_footer_list {
        position: relative;
        bottom: 0.6rem;
        color: $color-principal;

        .nav_footer_links {
            text-decoration: none;
            color: $color-beige;
            font-family: 'Hind Madurai';
        }
    }
}

@media (min-width: 1024px) {
    .nav_footer_div {
        font-size: 1.1rem;
        margin-left: 7vw;

        .nav_footer_titulo {
            font-size: 1.3rem;
            margin-left: 15px;
        }
    }
}


/*---------------------------------EMAIL FOOTER-----------------------------*/

.mail_footer_div {
    font-size: 0.7rem;
    margin-left: 1.3rem;
    font-family: 'Hind Madurai';
    margin-bottom: 2rem;

    .mail_footer_texto {
        font-size: 0.9rem;
        font-family: 'Hind Madurai';
        position: relative;
        top: 0.5rem;
        text-align: center;
        color: $color-principal;
    }

    .mail_footer_formulario {
        margin-top: 1rem;
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 675px) {
    .mail_footer_div {
        font-size: 0.7rem;
        margin-left: 7vw;
        margin-top: 0.7rem;

        .mail_footer_texto {
            font-size: 1rem;
            margin-top: -4px;
        }
    }
}

@media (min-width: 1024px) {
    .mail_footer_div {
        font-size: 0.7rem;
        margin-left: 7vw;
        margin-top: 0.7rem;

        .mail_footer_texto {
            font-size: 1.2rem;
            position: relative;
            top: 0.5rem;
        }
    }
}